body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.boardSquare{
  height: 150px;
  width: 150px;
  font-size: 46px;
  color: pink;
  vertical-align: top;
}
.resetButton {
  color: purple;
  height: 40px;
  width: auto;

}
